@using Caching;
<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Original URL: https://alysum5.promokit.eu/promokit/landing/
    Date Downloaded: 6.05.2019 14:06:12 !-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>NS Gezi Rehberi </title>
    <meta name="author" content="Marek Mnishek" />
    <meta name="copyright" content="promokit.eu" />
    <meta name='robots' content='all' />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <meta name="description" content="Alysum Premium Prestashop AMP Theme built with Prestashop Page Builder developed by promokit.eu" />
    <meta name="keywords" content="prestashop, alysum, amp, amp prestashop, google amp prestashop, amp prestashop theme, amp theme, amp page builder, prestashop theme, prestashop 1.7, best prestashop theme, google amp theme, accelerated mobile pages, amp ready, prestashop amp theme" />
    <link rel="shortcut icon" href="~/assets/images/ns copy.png" type="image/x-icon" />
    <link rel="icon"  href="~/assets/images/ns copy.png" type="image/x-icon" />
    <link rel="canonical" href="index.html" />

    @*<link href="@Html.VersiyonEkle("fonts.googleapis.com/css_65ee6e22.css")" rel="stylesheet" />*@
    <link rel="stylesheet" href="@Html.VersiyonEkle("assets2/css/style.css")" media="all" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
