
@{
    ViewBag.Title = "Canakkale";
    Layout = "~/Views/Shared/_LayoutSehirler.cshtml";
}
<svg style="display:none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="si-loader" viewbox="0 0 87 87">
            <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
            <circle cx="25" cy="50" r="25" fill="#0462dc"><animate attributename="cx" values="25;75;25" keytimes="0;0.5;1" dur="1s" repeatcount="indefinite"></animate></circle>
            <circle cx="75" cy="50" r="25" fill="#fc0284"><animate attributename="cx" values="75;25;75" keytimes="0;0.5;1" dur="1s" repeatcount="indefinite"></animate></circle>
            <circle cx="25" cy="50" r="25" fill="color"><animate attributename="cx" values="25;75;25" keytimes="0;0.5;1" dur="1s" repeatcount="indefinite"></animate><animate attributename="opacity" values="1;1;0;0" keytimes="0;0.499;0.5;1" dur="1s" repeatcount="indefinite"></animate></circle>
        </symbol>
        <symbol id="si-fully-responsive" viewbox="0 0 37 37">
            <path d="M32.295,2.5H4.706C2.111,2.5,0,4.615,0,7.217v18.509c0,2.602,2.111,4.718,4.706,4.718h14.727v-3.747 H6.302V6.247h25.993c0.532,0,0.967,0.435,0.967,0.97v0.33h1.41c0.848,0,1.635,0.239,2.328,0.627V7.217 C37,4.615,34.889,2.5,32.295,2.5z M3.228,18.248c-0.979,0-1.771-0.796-1.771-1.776c0-0.98,0.792-1.776,1.771-1.776 c0.977,0,1.771,0.795,1.771,1.776C4.999,17.451,4.205,18.248,3.228,18.248z M34.672,10.044H24.25c-1.282,0-2.325,1.046-2.325,2.332 v1.506c0.888,0.291,1.722,0.688,2.491,1.175v-2.514h10.09v17.476h-10.09v-3.741c-0.064-0.111-0.145-0.21-0.195-0.332	c-0.476-1.172-1.291-2.129-2.296-2.814v9.037c0,1.285,1.043,2.332,2.325,2.332h10.422c1.283,0,2.326-1.047,2.326-2.332V12.375 C36.998,11.09,35.955,10.044,34.672,10.044z M29.461,33.25c-0.626,0-1.135-0.511-1.135-1.139c0-0.629,0.509-1.139,1.135-1.139	c0.627,0,1.136,0.51,1.136,1.139C30.597,32.739,30.088,33.25,29.461,33.25z M18.971,13.231c-0.041-0.018-0.086-0.025-0.129-0.025 c-0.088,0-0.176,0.034-0.24,0.1l-4.041,4.052c-0.133,0.132-0.133,0.348,0,0.48l4.041,4.052c0.064,0.065,0.152,0.099,0.24,0.099	c0.043,0,0.088-0.007,0.129-0.025c0.127-0.052,0.21-0.176,0.21-0.314v-2.096c3.335,0.313,6.136,2.463,7.349,5.451 c0.053,0.129,0.176,0.21,0.312,0.21c0.02,0,0.039-0.001,0.06-0.006c0.155-0.028,0.271-0.162,0.274-0.322 c0.003-0.079,0.004-0.159,0.004-0.239c0-4.607-3.513-8.389-7.999-8.807v-2.295C19.181,13.407,19.098,13.283,18.971,13.231z"></path>
        </symbol>
        <symbol id="si-unlimited-colors" viewbox="0 0 44 44">
            <path d="M22,0.5C10.056,0.5,0.5,10.055,0.5,22c0,11.945,9.556,21.5,21.5,21.5c1.911,0,3.583-1.673,3.583-3.584 c0-0.955-0.239-1.672-0.955-2.389c-0.478-0.717-0.956-1.434-0.956-2.389c0-1.911,1.672-3.584,3.584-3.584h4.3c6.688,0,11.944-5.255,11.944-11.944C43.5,9.099,33.944,0.5,22,0.5z M8.861,22c-1.911,0-3.583-1.672-3.583-3.584 c0-1.911,1.672-3.583,3.583-3.583c1.911,0,3.583,1.672,3.583,3.583C12.444,20.327,10.772,22,8.861,22z M16.028,12.444 c-1.911,0-3.583-1.672-3.583-3.584c0-1.911,1.672-3.583,3.583-3.583s3.583,1.673,3.583,3.583 C19.611,10.772,17.939,12.444,16.028,12.444z M27.973,12.444c-1.912,0-3.584-1.672-3.584-3.584c0-1.911,1.672-3.583,3.584-3.583 c1.91,0,3.583,1.673,3.583,3.583C31.556,10.772,29.883,12.444,27.973,12.444z M35.139,22c-1.91,0-3.583-1.672-3.583-3.584 c0-1.911,1.673-3.583,3.583-3.583c1.911,0,3.584,1.672,3.584,3.583C38.723,20.327,37.05,22,35.139,22z"></path>
        </symbol>
        <symbol id="si-one-click-install" viewbox="0 0 44 44">
            <path d="M12.754,5.923c0-2.369,1.874-4.23,4.257-4.23s4.257,1.861,4.257,4.23v4.062 c1.022-1.016,1.703-2.539,1.703-4.062c0-3.215-2.725-5.923-5.96-5.923s-5.96,2.708-5.96,5.923c0,1.692,0.681,3.046,1.703,4.062V5.923z M37.445,15.23c-1.361,0-2.554,1.185-2.554,2.539V22h-1.703v-5.923c0-1.354-1.192-2.539-2.554-2.539 c-1.363,0-2.555,1.185-2.555,2.539v4.231h-1.703v-5.923c0-1.354-1.191-2.539-2.554-2.539s-2.555,1.185-2.555,2.539V22h-1.703V5.923 c0-1.354-1.192-2.538-2.554-2.538s-2.554,1.184-2.554,2.538v17.432c-3.576-3.724-8.174-7.786-10.047-5.924 c-1.873,1.862,2.895,6.939,9.536,18.107C17.012,40.615,20.758,44,27.229,44C34.211,44,40,38.246,40,31.307V17.769	C40,16.416,38.809,15.23,37.445,15.23z"></path>
        </symbol>
        <symbol id="si-top-level-support" viewbox="0 0 35 35">
            <path d="M31.228,31.623l-2.256,2.258c-0.403,0.402-1.584,0.655-1.619,0.655 c-7.143,0.06-14.018-2.746-19.071-7.808C3.213,21.656,0.405,14.746,0.483,7.575c0-0.005,0.259-1.152,0.661-1.551L3.4,3.763 c0.828-0.828,2.413-1.202,3.523-0.832l0.476,0.161c1.11,0.37,2.271,1.597,2.578,2.728l1.136,4.174 c0.309,1.13-0.106,2.74-0.933,3.568L8.673,15.07c1.479,5.489,5.778,9.792,11.258,11.274l1.508-1.509 c0.826-0.828,2.439-1.243,3.569-0.934l4.169,1.14c1.126,0.305,2.352,1.465,2.725,2.578l0.157,0.477 C32.429,29.209,32.054,30.795,31.228,31.623z M14.488,13.136v-1.764l1.61-1.459c2.719-2.434,4.04-3.832,4.077-5.292 c0-1.014-0.612-1.821-2.048-1.821c-1.074,0-2.011,0.538-2.663,1.036l-0.822-2.088c0.939-0.712,2.393-1.285,4.08-1.285 c2.814,0,4.364,1.647,4.364,3.91c0,2.093-1.513,3.76-3.312,5.37l-1.151,0.956v0.04h4.693v2.398H14.488z M30.266,13.136v-2.973H24.75 V8.266l4.712-7.592h3.562v7.303h1.494v2.187h-1.494v2.974L30.266,13.136L30.266,13.136z M30.266,7.977v-2.76 c0-0.749,0.037-1.514,0.096-2.321h-0.077c-0.4,0.807-0.727,1.535-1.148,2.321L27.47,7.938v0.039H30.266z"></path>
        </symbol>
        <symbol id="si-five-category-pages" viewbox="0 0 40 40">
            <path d="M38.367,27.604l-2.531-0.57l-16.287,5.639c-0.713,0.246-1.456,0.371-2.21,0.371 c-0.585,0-1.17-0.076-1.739-0.229L4.023,29.729l-2.564,0.93c-0.597,0.216-0.986,0.799-0.958,1.438 c0.027,0.639,0.463,1.184,1.077,1.348l14.697,3.918c0.35,0.092,0.708,0.139,1.064,0.139c0.458,0,0.916-0.076,1.354-0.229 l19.828-6.861c0.614-0.213,1.013-0.811,0.978-1.461C39.462,28.297,39,27.748,38.367,27.604z M38.366,20.502l-2.53-0.571 l-16.287,5.638c-0.713,0.246-1.456,0.371-2.21,0.371c-0.586,0-1.17-0.076-1.739-0.228L4.023,22.626l-2.564,0.93 c-0.597,0.216-0.986,0.798-0.958,1.437c0.027,0.639,0.465,1.185,1.078,1.348l14.696,3.918c0.349,0.094,0.708,0.14,1.064,0.14 c0.458,0,0.916-0.077,1.354-0.229l19.828-6.862c0.614-0.213,1.013-0.809,0.978-1.461C39.462,21.193,39,20.646,38.366,20.502z M38.366,13.399l-2.53-0.571l-16.287,5.637c-0.713,0.247-1.456,0.371-2.21,0.371c-0.585,0-1.17-0.075-1.739-0.228L4.023,15.523 l-2.564,0.93c-0.597,0.216-0.986,0.799-0.958,1.437c0.027,0.639,0.465,1.185,1.078,1.349l14.696,3.917 c0.349,0.093,0.708,0.139,1.064,0.139c0.458,0,0.916-0.075,1.354-0.228l19.828-6.862c0.614-0.213,1.013-0.809,0.978-1.461 C39.462,14.091,39,13.542,38.366,13.399z M1.578,12.134l14.697,3.918c0.35,0.093,0.708,0.139,1.064,0.139 c0.458,0,0.916-0.075,1.354-0.228l19.828-6.862c0.614-0.213,1.013-0.809,0.978-1.461c-0.036-0.652-0.498-1.2-1.131-1.345 L21.992,2.602C21.691,2.533,21.387,2.5,21.082,2.5c-0.478,0-0.955,0.082-1.409,0.248L1.458,9.35 c-0.597,0.216-0.986,0.799-0.958,1.437C0.528,11.425,0.964,11.97,1.578,12.134z"></path>
        </symbol>
        <symbol id="si-powerfull-admin" viewbox="0 0 36 36">
            <path d="M33.312,0.5H2.688C1.479,0.5,0.5,1.479,0.5,2.687v30.625c0,1.208,0.979,2.188,2.188,2.188h30.625 c1.208,0,2.188-0.98,2.188-2.188V2.687C35.5,1.479,34.521,0.5,33.312,0.5z M8.156,32.219c-1.208,0-2.188-0.98-2.188-2.188 c0-1.209,0.979-2.188,2.188-2.188s2.188,0.979,2.188,2.188C10.344,31.238,9.364,32.219,8.156,32.219z M10.344,13.625v9.844 c0,1.207-0.979,2.188-2.188,2.188s-2.188-0.98-2.188-2.188v-9.844c-1.208,0-2.188-0.979-2.188-2.188 c0-1.207,0.979-2.187,2.188-2.187V5.968c0-1.209,0.979-2.188,2.188-2.188s2.188,0.979,2.188,2.188v3.281 c1.208,0,2.188,0.98,2.188,2.187C12.531,12.645,11.552,13.625,10.344,13.625z M18,32.219c-1.208,0-2.188-0.98-2.188-2.188 c0-1.209,0.979-2.188,2.188-2.188s2.188,0.979,2.188,2.188C20.188,31.238,19.208,32.219,18,32.219z M20.188,22.373v1.096 c0,1.207-0.979,2.188-2.188,2.188s-2.188-0.98-2.188-2.188v-1.096c-1.208,0-2.188-0.979-2.188-2.186 c0-1.209,0.979-2.188,2.188-2.188V5.968c0-1.209,0.979-2.188,2.188-2.188s2.188,0.979,2.188,2.188V18 c1.208,0,2.188,0.979,2.188,2.188C22.375,21.395,21.396,22.373,20.188,22.373z M27.844,32.219c-1.208,0-2.188-0.98-2.188-2.188 c0-1.209,0.979-2.188,2.188-2.188s2.188,0.979,2.188,2.188C30.031,31.238,29.052,32.219,27.844,32.219z M30.031,13.625v9.844 c0,1.207-0.979,2.188-2.188,2.188s-2.188-0.98-2.188-2.188v-9.844c-1.208,0-2.188-0.979-2.188-2.188 c0-1.207,0.979-2.187,2.188-2.187V5.968c0-1.209,0.979-2.188,2.188-2.188s2.188,0.979,2.188,2.188v3.281 c1.208,0,2.188,0.98,2.188,2.187C32.219,12.645,31.239,13.625,30.031,13.625z"></path>
        </symbol>
        <symbol id="si-seo" viewbox="0 0 38 38">
            <path d="M34.926,3.382H20.807c0.154-0.291,0.264-0.608,0.264-0.96c0-1.149-0.927-2.083-2.071-2.083	c-1.144,0-2.07,0.934-2.07,2.083c0,0.353,0.109,0.667,0.265,0.96H3.077c-1.051,0-1.905,0.863-1.905,1.917v21.115 c0,1.054,0.854,1.918,1.903,1.918h11.543l-2.241,7.948c-0.156,0.552,0.174,1.091,0.734,1.191l0.893,0.173 c0.561,0.103,1.145-0.262,1.3-0.81l2.398-8.505h2.597l2.401,8.504c0.152,0.549,0.74,0.913,1.3,0.809l0.888-0.171 c0.56-0.103,0.89-0.642,0.734-1.193l-2.241-7.946h11.545c1.045,0,1.902-0.864,1.902-1.918V5.299 C36.828,4.246,35.973,3.382,34.926,3.382z M33.204,24.597H4.793V6.722h28.411V24.597z M8.142,21.596 c0.816,0,1.477-0.664,1.477-1.483c0-0.147-0.042-0.283-0.084-0.417c1.887-1.531,5.221-4.228,6.739-5.404 c0.24,0.17,0.519,0.292,0.833,0.292c0.262,0,0.494-0.087,0.707-0.207c0.978,0.836,2.637,2.255,3.817,3.261 c-0.016,0.085-0.052,0.163-0.052,0.254c0,0.821,0.663,1.486,1.479,1.486c0.82,0,1.481-0.665,1.481-1.486 c0-0.146-0.044-0.275-0.083-0.409l3.815-3.461c0.207,0.105,0.428,0.184,0.677,0.184c0.815,0,1.475-0.666,1.475-1.486 c0-0.817-0.659-1.482-1.475-1.482c-0.817,0-1.477,0.665-1.477,1.482c0,0.194,0.042,0.38,0.11,0.552 c-1.065,0.965-2.712,2.458-3.737,3.392c-0.231-0.149-0.491-0.26-0.787-0.26c-0.346,0-0.651,0.14-0.904,0.342 c-0.975-0.833-2.551-2.179-3.672-3.135c0.059-0.163,0.103-0.33,0.103-0.509c0-0.82-0.661-1.483-1.476-1.483 c-0.813,0-1.477,0.665-1.477,1.483c0,0.183,0.043,0.349,0.102,0.509L8.96,18.909c-0.236-0.163-0.509-0.281-0.818-0.281	c-0.815,0-1.477,0.665-1.477,1.484S7.326,21.596,8.142,21.596z"></path>
        </symbol>
        <symbol id="si-tabs" viewbox="0 0 23 19">
            <path d="M21.550,18.997 L1.439,18.997 C0.647,18.997 0.002,18.365 0.002,17.590 L0.002,5.442 L0.002,5.076 L0.002,1.405 C0.002,0.629 0.647,-0.003 1.439,-0.003 L8.861,-0.003 C9.653,-0.003 10.297,0.629 10.297,1.405 L10.297,3.988 L11.578,3.988 L16.668,3.988 L18.016,3.988 L21.550,3.988 C22.342,3.988 22.987,4.618 22.987,5.396 L22.987,5.571 L22.987,17.590 C22.987,18.365 22.342,18.997 21.550,18.997 ZM18.016,2.580 L18.016,1.405 C18.016,0.629 18.660,-0.003 19.453,-0.003 L21.550,-0.003 C22.342,-0.003 22.987,0.629 22.987,1.405 L22.987,2.956 C22.556,2.712 22.062,2.580 21.550,2.580 L18.016,2.580 ZM11.708,2.580 L11.708,1.405 C11.708,0.629 12.352,-0.003 13.144,-0.003 L14.212,-0.003 L15.280,-0.003 C16.075,-0.003 16.716,0.629 16.716,1.405 L16.716,2.580 L14.212,2.580 L11.708,2.580 Z"></path>
        </symbol>
        <symbol id="si-customizable" viewbox="0 0 35 35">
            <path d="M0,0v35h35V0H0z M32.116,32.093H2.884V2.909h29.232V32.093z M9.213,20.203 c0.096,0.336,0.147,1.071,0.147,2.199c0,0.969,0.05,1.678,0.153,2.129s0.305,0.832,0.607,1.137c0.301,0.306,0.67,0.527,1.107,0.66 c0.439,0.131,1.069,0.197,1.889,0.197h0.484v-2.207c-0.653,0-1.078-0.041-1.275-0.125c-0.195-0.083-0.342-0.202-0.438-0.363 c-0.096-0.16-0.144-0.44-0.144-0.844c0-0.283-0.025-0.935-0.073-1.953c-0.036-0.67-0.116-1.202-0.238-1.6 c-0.121-0.401-0.296-0.738-0.525-1.02c-0.228-0.28-0.521-0.521-0.878-0.729c0.405-0.265,0.706-0.519,0.905-0.766 c0.197-0.243,0.359-0.554,0.487-0.932c0.125-0.376,0.205-0.87,0.236-1.476c0.054-1.075,0.084-1.807,0.084-2.193 c0-0.378,0.047-0.647,0.137-0.805c0.093-0.155,0.232-0.272,0.423-0.35c0.191-0.076,0.626-0.115,1.3-0.115V8.854h-0.484 c-0.797,0-1.381,0.056-1.75,0.166c-0.548,0.166-0.964,0.391-1.252,0.674c-0.286,0.286-0.483,0.663-0.594,1.133 c-0.108,0.467-0.161,1.298-0.161,2.48c0,0.733-0.026,1.241-0.076,1.536c-0.061,0.392-0.173,0.718-0.335,0.979 c-0.166,0.262-0.357,0.444-0.585,0.557c-0.222,0.109-0.555,0.178-1,0.203v2.208c0.56,0.029,0.974,0.15,1.246,0.363 C8.879,19.364,9.081,19.712,9.213,20.203z M15.642,24.502l0.496,1.068c0.548-0.199,1.001-0.47,1.357-0.811 c0.356-0.344,0.597-0.73,0.724-1.163c0.129-0.435,0.193-1.026,0.193-1.771V19.98h-2.563v2.584h1.235 c-0.009,0.509-0.126,0.915-0.343,1.225C16.523,24.092,16.155,24.33,15.642,24.502z M18.412,12.794h-2.563v2.585h2.563V12.794z M22.95,26.355c0.55-0.166,0.974-0.388,1.262-0.675c0.285-0.283,0.481-0.664,0.585-1.137c0.104-0.472,0.16-1.304,0.16-2.491 c0-0.726,0.026-1.232,0.075-1.529c0.065-0.392,0.18-0.717,0.343-0.978c0.16-0.259,0.352-0.446,0.576-0.556 c0.226-0.108,0.557-0.176,1.001-0.201h-0.003v-2.206c-0.561-0.031-0.973-0.153-1.249-0.365c-0.271-0.21-0.473-0.562-0.609-1.05 c-0.092-0.343-0.137-1.075-0.137-2.194c0-0.97-0.053-1.678-0.158-2.126c-0.106-0.452-0.308-0.832-0.604-1.142 c-0.3-0.308-0.666-0.524-1.104-0.653c-0.441-0.129-1.07-0.194-1.89-0.194h-0.484v2.19c0.688,0,1.131,0.042,1.326,0.125 c0.199,0.083,0.336,0.199,0.41,0.353c0.078,0.152,0.115,0.458,0.122,0.918c0.034,1.459,0.087,2.402,0.151,2.833 c0.104,0.623,0.299,1.138,0.582,1.541c0.208,0.283,0.534,0.568,0.984,0.865c-0.347,0.198-0.628,0.434-0.852,0.701 c-0.224,0.266-0.4,0.593-0.531,0.975c-0.133,0.386-0.217,0.896-0.245,1.531c-0.05,1.055-0.081,1.771-0.081,2.144 c-0.006,0.375-0.05,0.64-0.146,0.798c-0.097,0.156-0.243,0.275-0.441,0.358c-0.2,0.083-0.628,0.124-1.28,0.124v2.205h0.488 C21.994,26.521,22.58,26.465,22.95,26.355z"></path>
        </symbol>
        <symbol id="si-bigarrowleft" viewbox="0 0 95 95">
            <path d="M25.496,47.509L68.019,94.01l1.483-1.315L28.184,47.509L69.502,2.324L68.02,1.009L25.496,47.509z"></path>
        </symbol>
        <symbol id="si-bigarrowright" viewbox="0 0 95 95">
            <path d="M69.502,47.509L26.979,1.008l-1.483,1.315l41.318,45.186L25.496,92.693l1.482,1.315L69.502,47.509z"></path>
        </symbol>
        <symbol id="si-star" viewbox="0 0 46.354 46.354">
            <path shape-rendering="optimizeQuality" d="M21.57,2.049c0.303-0.612,0.927-1,1.609-1c0.682,0,1.307,0.388,1.609,1l5.771,11.695c0.261,0.529,0.767,0.896,1.352,0.981
		L44.817,16.6c0.677,0.098,1.237,0.572,1.448,1.221c0.211,0.649,0.035,1.363-0.454,1.839l-9.338,9.104
		c-0.423,0.412-0.616,1.006-0.517,1.588l2.204,12.855c0.114,0.674-0.161,1.354-0.715,1.756c-0.553,0.4-1.284,0.453-1.89,0.137
		l-11.544-6.07c-0.522-0.275-1.147-0.275-1.67,0l-11.544,6.069c-0.604,0.317-1.337,0.265-1.89-0.136
		c-0.553-0.401-0.829-1.082-0.714-1.756l2.204-12.855c0.1-0.582-0.094-1.176-0.517-1.588L0.542,19.66
		c-0.489-0.477-0.665-1.19-0.454-1.839c0.211-0.649,0.772-1.123,1.449-1.221l12.908-1.875c0.584-0.085,1.09-0.452,1.351-0.982
		L21.57,2.049z"></path>
        </symbol>
        <symbol id="si-search" viewbox="0 0 20 20">
            <path d="M19.256,16.783 L15.120,12.646 C15.098,12.623 15.072,12.609 15.049,12.589 C15.863,11.353 16.338,9.874 16.338,8.285 C16.338,3.960 12.834,0.454 8.512,0.454 C4.189,0.454 0.685,3.960 0.685,8.285 C0.685,12.609 4.189,16.115 8.511,16.115 C10.101,16.115 11.578,15.639 12.813,14.826 C12.833,14.849 12.848,14.875 12.870,14.895 L17.006,19.035 C17.627,19.656 18.634,19.656 19.256,19.035 C19.877,18.413 19.877,17.405 19.256,16.783 ZM8.512,13.401 C5.687,13.401 3.398,11.110 3.398,8.285 C3.398,5.458 5.687,3.168 8.512,3.168 C11.336,3.168 13.625,5.459 13.625,8.285 C13.625,11.110 11.336,13.401 8.512,13.401 Z"></path>
        </symbol>
        <symbol id="si-time" viewbox="0 0 38 38">
            <path d="M21.479,2C12.492,2,5.188,9.382,4.967,18.575H0l7.436,8.501l7.435-8.501H9.098 C9.316,11.73,14.773,6.25,21.479,6.25c6.844,0,12.392,5.708,12.392,12.75c0,7.041-5.548,12.75-12.392,12.75 c-2.745,0-5.279-0.92-7.332-2.474l-2.842,3.118C14.11,34.652,17.642,36,21.479,36C30.604,36,38,28.389,38,19 C38,9.61,30.604,2,21.479,2z M20.01,9.878v9.724l6.075,6.229l2-2.052l-5.245-5.38V9.878H20.01z"></path>
        </symbol>
        <symbol id="si-psd" viewbox="0 0 42 42">
            <path d="M11.375,27.522H10v2.796h1.375c0.759,0,1.375-0.625,1.375-1.398 C12.75,28.152,12.134,27.522,11.375,27.522z M29.25,27.522v5.591c1.516,0,2.75-1.25,2.75-2.795 C32,28.779,30.766,27.522,29.25,27.522z M29.092,0.5H8.167C6.145,0.5,4.5,2.172,4.5,4.228v33.545c0,2.058,1.645,3.728,3.667,3.728 h25.667c2.022,0,3.667-1.67,3.667-3.728V9.047L29.092,0.5z M11.375,33.113H10v2.796H7.25V24.727h4.125 c2.273,0,4.125,1.885,4.125,4.193C15.5,31.234,13.648,33.113,11.375,33.113z M25.125,27.522h-4.812 c-0.379,0-0.688,0.313-0.688,0.699c0,0.388,0.308,0.698,0.688,0.698h1.375c1.896,0,3.438,1.57,3.438,3.494 c0,1.93-1.542,3.495-3.438,3.495h-4.812v-2.796h4.812c0.379,0,0.688-0.311,0.688-0.699c0-0.383-0.309-0.698-0.688-0.698h-1.375 c-1.896,0-3.438-1.565-3.438-3.494c0-1.926,1.542-3.495,3.438-3.495h4.812V27.522z M29.25,35.909H26.5V24.727h2.75 c3.032,0,5.5,2.512,5.5,5.592C34.75,33.402,32.282,35.909,29.25,35.909z M26.5,11.682V2.363l9.166,9.318H26.5z"></path>
        </symbol>
        <symbol id="si-bag" viewbox="0 0 36 36">
            <path d="M19.668,21.168V20.41c0-0.926-0.747-1.674-1.667-1.674c-0.921,0-1.667,0.748-1.667,1.674v0.758 c0,0.924,0.746,1.673,1.667,1.673C18.921,22.841,19.668,22.092,19.668,21.168z M20.811,22.094c-0.369,1.213-1.482,2.104-2.81,2.104	c-1.328,0-2.441-0.892-2.811-2.104H3.708c-0.725,0-1.41-0.17-2.024-0.463v7.652C1.683,30.777,2.901,32,4.39,32h27.221 c1.488,0,2.707-1.223,2.707-2.717v-7.652c-0.615,0.294-1.301,0.463-2.025,0.463H20.811z M32.18,8.353h-6.496 C25.291,5.89,23.166,4,20.604,4h-5.207c-2.562,0-4.688,1.89-5.081,4.353H3.82C2.269,8.353,1,9.575,1,11.069v6.271 c0,1.5,1.212,2.717,2.707,2.717h11.354c0.039-0.782,0.373-1.484,0.901-1.992c0.017-0.016,0.035-0.027,0.052-0.043 c0.117-0.107,0.239-0.21,0.372-0.298c0.047-0.031,0.102-0.054,0.151-0.082c0.11-0.063,0.218-0.129,0.336-0.178 c0.093-0.039,0.193-0.062,0.291-0.091c0.084-0.025,0.164-0.059,0.251-0.076c0.189-0.038,0.384-0.059,0.584-0.059 c0.2,0,0.395,0.021,0.584,0.059c0.086,0.018,0.167,0.051,0.25,0.076c0.097,0.029,0.197,0.052,0.29,0.092 c0.117,0.049,0.226,0.113,0.335,0.177c0.05,0.028,0.104,0.051,0.151,0.082c0.135,0.088,0.256,0.19,0.373,0.298 c0.016,0.016,0.035,0.028,0.053,0.045c0.529,0.508,0.861,1.21,0.9,1.991h11.355c1.494,0,2.707-1.216,2.707-2.716V11.07 C35,9.575,33.73,8.353,32.18,8.353z M12.922,8.353c0.345-1.047,1.318-1.81,2.475-1.81h5.207c1.156,0,2.129,0.763,2.475,1.81H12.922 z"></path>
        </symbol>
        <symbol id="si-heart" viewbox="0 0 32 32">
            <path d="M31.813,10.147c-0.463-5.011-4.071-8.646-8.588-8.646c-3.009,0-5.763,1.592-7.313,4.142 C14.376,3.06,11.734,1.5,8.773,1.5c-4.515,0-8.124,3.636-8.587,8.646C0.15,10.368,0,11.533,0.456,13.434 c0.658,2.739,2.178,5.232,4.394,7.205L15.905,30.5l11.245-9.861c2.216-1.973,3.735-4.465,4.393-7.205 C32,11.534,31.85,10.369,31.813,10.147z"></path>
        </symbol>
        <symbol id="si-bag2" viewbox="0 0 35 42">
            <path d="M34.173,42.001 L0.826,42.001 C0.368,42.001 -0.004,41.627 -0.004,41.163 L-0.004,11.170 C-0.004,10.707 0.368,10.332 0.826,10.332 L6.202,10.332 C6.660,10.332 7.032,10.707 7.032,11.170 C7.032,11.634 6.660,12.008 6.202,12.008 L1.656,12.008 L1.656,40.325 L33.344,40.325 L33.344,12.008 L28.520,12.008 C28.063,12.008 27.691,11.634 27.691,11.170 C27.691,10.707 28.063,10.332 28.520,10.332 L34.173,10.332 C34.632,10.332 35.003,10.707 35.003,11.170 L35.003,41.163 C35.003,41.627 34.631,42.001 34.173,42.001 ZM25.550,17.365 C24.372,17.365 23.414,16.398 23.414,15.210 C23.414,14.746 23.786,14.372 24.244,14.372 C24.702,14.372 25.073,14.746 25.073,15.210 C25.073,15.473 25.287,15.689 25.550,15.689 C25.813,15.689 26.026,15.473 26.026,15.210 C26.026,14.746 26.398,14.372 26.856,14.372 C27.314,14.372 27.686,14.746 27.686,15.210 C27.686,16.398 26.728,17.365 25.550,17.365 ZM25.550,13.893 C25.091,13.893 24.720,13.519 24.720,13.055 L24.720,6.945 C24.720,4.038 21.370,1.672 17.252,1.672 C13.114,1.672 9.763,4.038 9.763,6.945 L9.763,13.055 C9.763,13.519 9.392,13.893 8.934,13.893 C8.476,13.893 8.104,13.519 8.104,13.055 L8.104,6.945 C8.104,3.114 12.198,-0.003 17.231,-0.003 C22.285,-0.003 26.380,3.114 26.380,6.945 L26.380,13.055 C26.380,13.519 26.008,13.893 25.550,13.893 ZM10.520,11.170 C10.520,10.707 10.892,10.332 11.350,10.332 L22.744,10.332 C23.201,10.332 23.573,10.707 23.573,11.170 C23.573,11.634 23.201,12.008 22.744,12.008 L11.350,12.008 C10.892,12.008 10.520,11.634 10.520,11.170 ZM8.457,15.210 C8.457,15.473 8.671,15.689 8.934,15.689 C9.196,15.689 9.410,15.473 9.410,15.210 C9.410,14.746 9.782,14.372 10.240,14.372 C10.698,14.372 11.070,14.746 11.070,15.210 C11.070,16.398 10.111,17.365 8.934,17.365 C7.756,17.365 6.798,16.398 6.798,15.210 C6.798,14.746 7.169,14.372 7.628,14.372 C8.085,14.372 8.457,14.746 8.457,15.210 Z"></path>
        </symbol>
        <symbol id="si-reload" viewbox="0 0 49 44">
            <path d="M44.686,32.356 C44.527,32.514 44.318,32.594 44.109,32.594 C43.900,32.594 43.691,32.514 43.531,32.356 C43.212,32.038 43.212,31.523 43.531,31.204 C46.004,28.734 47.367,25.465 47.367,22.000 C47.367,14.813 41.504,8.964 34.300,8.964 L16.671,8.964 L22.627,14.906 C22.947,15.225 22.947,15.740 22.627,16.058 C22.468,16.217 22.259,16.297 22.050,16.297 C21.841,16.297 21.632,16.217 21.472,16.058 L14.123,8.726 C14.047,8.651 13.988,8.561 13.946,8.461 C13.864,8.261 13.864,8.037 13.946,7.837 C13.988,7.737 14.047,7.647 14.123,7.572 L21.472,0.239 C21.792,-0.079 22.308,-0.079 22.627,0.239 C22.947,0.558 22.947,1.073 22.627,1.392 L16.671,7.334 L34.300,7.334 C42.405,7.334 49.000,13.914 49.000,22.000 C49.000,25.901 47.468,29.578 44.686,32.356 ZM14.700,35.037 L33.962,35.037 L28.006,29.095 C27.686,28.777 27.686,28.262 28.006,27.944 C28.325,27.624 28.841,27.624 29.161,27.944 L36.511,35.276 C36.830,35.595 36.830,36.110 36.511,36.428 L29.161,43.762 C29.001,43.921 28.792,44.000 28.583,44.000 C28.374,44.000 28.165,43.921 28.006,43.762 C27.686,43.443 27.686,42.928 28.006,42.610 L33.962,36.667 L14.700,36.667 C6.594,36.667 -0.000,30.088 -0.000,22.000 C-0.000,18.531 1.249,15.159 3.517,12.506 C3.810,12.163 4.327,12.123 4.669,12.415 C5.012,12.707 5.052,13.221 4.759,13.564 C2.743,15.922 1.633,18.918 1.633,22.000 C1.633,29.189 7.495,35.037 14.700,35.037 Z"></path>
        </symbol>
        <symbol id="si-ticket" viewbox="0 0 46 40">
            <path d="M42.166,39.999 L3.833,39.999 C1.720,39.999 -0.000,38.281 -0.000,36.171 L-0.000,19.873 C-0.000,17.990 1.369,16.420 3.166,16.103 L1.998,8.729 C1.751,7.167 2.823,5.694 4.387,5.447 L38.463,0.048 C39.219,-0.072 39.977,0.109 40.598,0.557 C41.223,1.007 41.633,1.675 41.753,2.435 L43.980,16.501 C45.181,17.149 46.000,18.417 46.000,19.873 L46.000,36.171 C46.000,38.281 44.280,39.999 42.166,39.999 ZM39.859,2.730 C39.819,2.473 39.681,2.249 39.471,2.097 C39.266,1.949 39.015,1.889 38.764,1.929 L32.136,2.979 L32.438,4.881 C32.520,5.400 32.163,5.888 31.640,5.969 C31.117,6.051 30.626,5.696 30.544,5.177 L30.244,3.279 L4.689,7.327 C4.166,7.410 3.808,7.906 3.892,8.432 L5.097,16.045 L20.125,16.045 C20.654,16.045 21.083,16.471 21.083,16.997 L21.083,17.956 C21.083,18.484 21.292,18.976 21.671,19.342 C22.044,19.702 22.534,19.894 23.054,19.879 C24.081,19.851 24.917,18.961 24.917,17.896 L24.917,16.997 C24.917,16.471 25.346,16.045 25.875,16.045 L41.968,16.045 L39.859,2.730 ZM44.083,19.873 C44.083,19.032 43.543,18.316 42.793,18.055 C42.778,18.051 42.763,18.045 42.749,18.040 C42.565,17.981 42.369,17.950 42.166,17.950 L26.833,17.950 C26.805,20.013 25.144,21.727 23.107,21.782 C22.067,21.813 21.082,21.429 20.334,20.707 C19.581,19.979 19.167,19.003 19.167,17.956 L19.167,17.950 L4.292,17.950 C4.282,17.950 4.271,17.950 4.260,17.950 L3.833,17.950 C2.776,17.950 1.916,18.812 1.916,19.873 L1.916,36.171 C1.916,37.232 2.776,38.095 3.833,38.095 L42.166,38.095 C43.223,38.095 44.083,37.232 44.083,36.171 L44.083,19.873 ZM38.333,31.850 L31.625,31.850 C31.096,31.850 30.666,31.424 30.666,30.898 C30.666,30.372 31.096,29.946 31.625,29.946 L38.333,29.946 C38.862,29.946 39.292,30.372 39.292,30.898 C39.292,31.424 38.862,31.850 38.333,31.850 ZM38.333,26.098 L31.625,26.098 C31.096,26.098 30.666,25.672 30.666,25.146 C30.666,24.620 31.096,24.194 31.625,24.194 L38.333,24.194 C38.862,24.194 39.292,24.620 39.292,25.146 C39.292,25.672 38.862,26.098 38.333,26.098 ZM32.091,8.822 C32.615,8.741 33.105,9.096 33.187,9.616 L33.637,12.456 C33.719,12.975 33.362,13.463 32.839,13.544 C32.789,13.552 32.738,13.556 32.689,13.556 C32.225,13.556 31.818,13.221 31.743,12.752 L31.294,9.911 C31.212,9.391 31.569,8.904 32.091,8.822 ZM18.840,10.909 L9.374,12.409 C9.323,12.417 9.273,12.421 9.222,12.421 C8.760,12.421 8.352,12.086 8.277,11.618 C8.194,11.099 8.550,10.611 9.073,10.528 L18.538,9.029 C19.060,8.946 19.552,9.300 19.635,9.819 C19.719,10.338 19.363,10.826 18.840,10.909 Z"></path>
        </symbol>
        <symbol id="si-puzzle" viewbox="0 0 46 46">
            <path d="M45.105,20.444 L39.522,14.861 C40.708,14.570 41.834,13.971 42.759,13.045 C44.111,11.694 44.791,9.915 44.790,8.143 C44.791,6.372 44.111,4.592 42.759,3.240 C41.408,1.887 39.628,1.209 37.856,1.209 C36.084,1.209 34.306,1.888 32.954,3.240 C32.029,4.165 31.429,5.291 31.138,6.476 L25.556,0.894 C24.959,0.298 24.171,-0.001 23.391,0.000 C22.610,-0.001 21.821,0.298 21.225,0.894 L13.015,9.106 C12.683,9.439 12.683,9.975 13.015,10.308 L13.998,11.293 C14.200,11.493 14.487,11.580 14.766,11.525 C15.032,11.472 15.302,11.445 15.572,11.445 C16.631,11.447 17.680,11.846 18.490,12.654 C19.296,13.461 19.696,14.511 19.697,15.569 C19.696,16.628 19.296,17.680 18.489,18.489 C17.681,19.295 16.631,19.696 15.571,19.696 C14.513,19.696 13.461,19.295 12.654,18.489 C11.846,17.679 11.446,16.630 11.446,15.571 C11.445,15.301 11.472,15.031 11.525,14.767 C11.581,14.488 11.493,14.199 11.293,13.998 L10.308,13.015 C9.976,12.683 9.438,12.683 9.106,13.015 L0.895,21.226 C0.299,21.822 0.000,22.611 0.001,23.391 C-0.000,24.171 0.299,24.961 0.895,25.556 L6.477,31.138 C5.292,31.430 4.166,32.028 3.241,32.954 C1.889,34.305 1.209,36.084 1.211,37.856 C1.209,39.627 1.888,41.408 3.241,42.759 C4.593,44.112 6.373,44.791 8.145,44.789 C9.916,44.791 11.695,44.110 13.045,42.759 C13.971,41.833 14.571,40.707 14.862,39.523 L20.443,45.105 C21.040,45.700 21.829,46.000 22.609,45.998 C23.389,46.000 24.178,45.700 24.774,45.105 L32.984,36.894 C33.316,36.562 33.316,36.024 32.984,35.692 L32.001,34.708 C31.800,34.507 31.513,34.420 31.234,34.474 C30.968,34.528 30.697,34.554 30.426,34.554 C29.368,34.553 28.317,34.154 27.510,33.346 C26.702,32.539 26.303,31.488 26.302,30.429 C26.303,29.370 26.703,28.319 27.510,27.512 C28.317,26.704 29.368,26.304 30.428,26.303 C31.487,26.304 32.538,26.705 33.346,27.512 C34.153,28.320 34.552,29.370 34.553,30.429 C34.554,30.699 34.526,30.969 34.474,31.237 C34.419,31.516 34.506,31.801 34.707,32.002 L35.691,32.986 C35.848,33.144 36.068,33.235 36.292,33.235 C36.516,33.235 36.735,33.144 36.894,32.986 L45.105,24.774 C45.702,24.179 46.000,23.389 45.999,22.609 C46.000,21.829 45.701,21.039 45.105,20.444 ZM43.902,23.572 L36.293,31.180 L36.212,31.099 C36.237,30.877 36.255,30.652 36.255,30.428 C36.255,28.939 35.684,27.444 34.548,26.308 C33.413,25.172 31.916,24.600 30.428,24.601 C28.940,24.600 27.443,25.171 26.307,26.307 C25.171,27.444 24.600,28.940 24.600,30.428 C24.600,31.916 25.171,33.413 26.307,34.549 C27.443,35.684 28.939,36.256 30.426,36.255 C30.651,36.255 30.875,36.238 31.099,36.212 L31.180,36.293 L23.571,43.901 C23.307,44.166 22.963,44.296 22.609,44.298 C22.255,44.296 21.911,44.166 21.646,43.901 L14.819,37.074 C14.574,36.828 14.206,36.757 13.886,36.892 C13.567,37.026 13.362,37.340 13.367,37.687 C13.368,37.753 13.369,37.810 13.369,37.859 C13.368,39.202 12.864,40.533 11.842,41.556 C10.818,42.579 9.485,43.088 8.145,43.088 C6.802,43.088 5.468,42.581 4.444,41.557 C3.420,40.533 2.913,39.199 2.912,37.857 C2.913,36.515 3.421,35.182 4.443,34.159 C5.467,33.135 6.797,32.633 8.141,32.631 C8.194,32.631 8.247,32.633 8.300,32.634 C8.648,32.645 8.968,32.442 9.106,32.121 C9.244,31.801 9.173,31.430 8.927,31.183 L2.099,24.355 C1.834,24.090 1.704,23.747 1.703,23.393 C1.704,23.039 1.834,22.695 2.098,22.430 L9.708,14.821 L9.788,14.902 C9.763,15.126 9.745,15.350 9.745,15.574 C9.744,17.062 10.316,18.558 11.452,19.694 C12.587,20.830 14.084,21.402 15.572,21.401 C17.061,21.402 18.557,20.830 19.693,19.694 C20.829,18.557 21.400,17.059 21.399,15.571 C21.400,14.083 20.828,12.589 19.694,11.454 C18.557,10.317 17.061,9.746 15.573,9.746 C15.349,9.746 15.125,9.764 14.901,9.790 L14.820,9.709 L22.429,2.099 C22.693,1.836 23.038,1.705 23.392,1.704 C23.744,1.704 24.089,1.835 24.354,2.100 L31.181,8.928 C31.429,9.174 31.805,9.245 32.125,9.105 C32.444,8.965 32.647,8.641 32.633,8.291 C32.631,8.246 32.630,8.195 32.630,8.141 C32.632,6.799 33.135,5.468 34.157,4.445 C35.181,3.422 36.514,2.913 37.856,2.913 C39.197,2.913 40.532,3.421 41.555,4.445 C42.579,5.469 43.087,6.802 43.087,8.144 C43.087,9.485 42.579,10.819 41.555,11.843 C40.531,12.864 39.201,13.368 37.858,13.368 C37.804,13.368 37.752,13.368 37.700,13.367 C37.351,13.356 37.032,13.559 36.893,13.880 C36.755,14.200 36.826,14.572 37.072,14.818 L43.900,21.647 C44.165,21.910 44.296,22.255 44.297,22.608 C44.297,22.963 44.166,23.307 43.902,23.572 Z"></path>
        </symbol>
        <symbol id="si-calendar" viewbox="0 0 41 45">
            <path d="M37.115,45.000 L3.885,45.000 C1.742,45.000 -0.000,43.224 -0.000,41.041 L-0.000,15.267 L-0.000,4.821 C-0.000,4.377 0.353,4.017 0.788,4.017 L9.461,4.017 L9.461,2.411 C9.461,1.081 10.522,-0.001 11.827,-0.001 C13.131,-0.001 14.192,1.081 14.192,2.411 L14.192,4.017 L26.808,4.017 L26.808,2.411 C26.808,1.081 27.869,-0.001 29.173,-0.001 C30.478,-0.001 31.538,1.081 31.538,2.411 L31.538,4.017 L40.211,4.017 C40.647,4.017 41.000,4.377 41.000,4.821 L41.000,15.267 L41.000,41.041 C41.000,43.224 39.257,45.000 37.115,45.000 ZM12.615,2.411 C12.615,1.967 12.262,1.607 11.827,1.607 C11.392,1.607 11.038,1.967 11.038,2.411 L11.038,7.231 C11.038,7.675 11.392,8.035 11.827,8.035 C12.262,8.035 12.615,7.675 12.615,7.231 L12.615,2.411 ZM29.962,2.411 C29.962,1.967 29.608,1.607 29.173,1.607 C28.738,1.607 28.385,1.967 28.385,2.411 L28.385,7.231 C28.385,7.675 28.738,8.035 29.173,8.035 C29.608,8.035 29.962,7.675 29.962,7.231 L29.962,2.411 ZM39.423,5.625 L31.538,5.625 L31.538,7.231 C31.538,8.561 30.478,9.642 29.173,9.642 C27.869,9.642 26.808,8.561 26.808,7.231 L26.808,5.625 L14.192,5.625 L14.192,7.231 C14.192,8.561 13.131,9.642 11.827,9.642 C10.522,9.642 9.461,8.561 9.461,7.231 L9.461,5.625 L1.577,5.625 L1.577,14.464 L39.423,14.464 L39.423,5.625 ZM39.423,16.071 L1.577,16.071 L1.577,41.040 C1.577,42.337 2.612,43.392 3.885,43.392 L37.116,43.392 C38.388,43.392 39.423,42.337 39.423,41.040 L39.423,16.071 Z"></path>
        </symbol>
        <symbol id="si-multicolumn" viewbox="0 0 22 17">
            <path d="M16.000,17.000 L16.000,11.343 L22.000,11.343 L22.000,17.000 L16.000,17.000 ZM12.000,-0.000 L22.000,-0.000 L22.000,9.406 L12.000,9.406 L12.000,-0.000 ZM-0.000,-0.000 L10.000,-0.000 L10.000,9.406 L-0.000,9.406 L-0.000,-0.000 ZM5.969,17.000 L-0.000,17.000 L-0.000,11.343 L5.969,11.343 L5.969,17.000 ZM14.000,17.000 L8.000,17.000 L8.000,11.343 L14.000,11.343 L14.000,17.000 Z"></path>
        </symbol>
        <symbol id="si-header" viewbox="0 0 19 19">
            <path d="M0.004,19.007 L0.004,5.817 L18.989,5.817 L18.989,19.007 L0.004,19.007 ZM0.004,0.013 L18.989,0.013 L18.989,4.233 L0.004,4.233 L0.004,0.013 Z"></path>
        </symbol>
        <symbol id="si-qview" viewbox="0 0 25 17">
            <path d="M24.034,8.975 C24.030,8.968 24.029,8.960 24.025,8.952 C24.024,8.951 24.020,8.946 24.018,8.942 C23.876,8.637 23.708,8.348 23.514,8.076 C22.702,6.690 21.136,4.053 20.374,3.011 C19.435,1.729 18.340,0.543 16.705,0.543 C16.345,0.543 15.967,0.604 15.584,0.723 C14.414,1.089 13.276,1.679 12.932,3.110 L12.428,3.110 C12.084,1.679 10.946,1.089 9.776,0.723 C9.393,0.604 9.016,0.543 8.655,0.543 C7.020,0.543 5.925,1.729 4.986,3.012 C4.224,4.053 2.658,6.691 1.846,8.076 C1.651,8.348 1.483,8.637 1.342,8.942 C1.340,8.946 1.337,8.951 1.335,8.952 C1.331,8.960 1.330,8.968 1.326,8.975 C1.019,9.647 0.845,10.393 0.845,11.177 C0.845,14.136 3.271,16.545 6.252,16.545 C7.997,16.545 9.547,15.716 10.536,14.439 L14.823,14.439 C15.813,15.716 17.363,16.545 19.107,16.545 C22.089,16.545 24.515,14.136 24.515,11.177 C24.515,10.393 24.340,9.647 24.034,8.975 ZM6.252,14.765 C4.259,14.765 2.637,13.154 2.637,11.177 C2.637,9.198 4.259,7.589 6.252,7.589 C8.246,7.589 9.867,9.198 9.867,11.177 C9.867,13.154 8.246,14.765 6.252,14.765 ZM19.107,14.765 C17.114,14.765 15.493,13.155 15.493,11.177 C15.493,9.198 17.114,7.589 19.107,7.589 C21.101,7.589 22.723,9.198 22.723,11.177 C22.723,13.154 21.101,14.765 19.107,14.765 Z"></path>
        </symbol>
        <symbol id="si-popup" viewbox="0 0 23 23">
            <path d="M0.003,22.987 L0.003,6.886 L22.991,6.886 L22.991,22.987 L0.003,22.987 ZM20.692,9.186 L2.301,9.186 L2.301,20.688 L20.692,20.688 L20.692,9.186 ZM2.301,3.437 L20.692,3.437 L20.692,5.736 L2.301,5.736 L2.301,3.437 ZM4.600,-0.014 L18.394,-0.014 L18.394,2.286 L4.600,2.286 L4.600,-0.014 Z"></path>
        </symbol>
        <symbol id="si-daylideal" viewbox="0 0 24 21">
            <path d="M20.746,9.545 L12.420,4.100 L11.958,3.797 L9.848,7.014 C9.376,7.749 8.400,7.960 7.668,7.484 C6.937,7.009 6.727,6.030 7.200,5.295 L10.361,0.364 L21.897,-0.006 L24.003,7.122 L20.746,9.545 ZM6.848,8.759 C7.349,9.084 7.928,9.256 8.522,9.256 C9.573,9.256 10.541,8.729 11.113,7.845 L12.393,5.892 L20.426,11.147 L20.469,11.175 C21.159,11.661 21.348,12.612 20.886,13.330 C20.414,14.065 19.438,14.275 18.706,13.800 L18.170,13.453 C18.901,13.928 19.111,14.907 18.639,15.642 C18.166,16.377 17.190,16.587 16.459,16.112 L15.922,15.765 C16.654,16.240 16.864,17.219 16.391,17.954 C15.918,18.689 14.942,18.900 14.211,18.426 L13.675,18.077 C14.406,18.552 14.616,19.533 14.143,20.267 C13.671,21.002 12.695,21.213 11.963,20.737 L10.636,19.853 L11.494,18.521 C12.417,17.085 12.006,15.162 10.576,14.234 C10.108,13.930 9.572,13.759 9.018,13.738 C8.774,13.244 8.402,12.821 7.928,12.514 C7.460,12.210 6.923,12.040 6.370,12.020 C6.126,11.525 5.753,11.102 5.279,10.795 C4.779,10.470 4.200,10.298 3.605,10.298 C2.552,10.297 1.582,10.829 1.010,11.717 L0.984,11.757 L0.004,10.911 L4.000,2.622 L6.698,3.274 L5.929,4.473 C5.007,5.908 5.419,7.832 6.848,8.759 ZM2.279,12.541 C2.752,11.805 3.728,11.595 4.459,12.069 C5.191,12.543 5.400,13.525 4.928,14.259 C5.400,13.525 6.376,13.314 7.108,13.789 C7.839,14.263 8.049,15.244 7.576,15.980 C8.049,15.244 9.025,15.033 9.756,15.507 C10.487,15.982 10.697,16.963 10.225,17.698 L8.608,20.211 C8.136,20.945 7.160,21.155 6.428,20.681 C5.697,20.206 5.487,19.227 5.960,18.491 C5.487,19.227 4.511,19.438 3.780,18.963 C3.049,18.488 2.839,17.507 3.311,16.772 C2.839,17.507 1.863,17.719 1.132,17.244 C0.400,16.769 0.190,15.788 0.663,15.052 L2.279,12.541 Z"></path>
        </symbol>
        <symbol id="si-countdown" viewbox="0 0 29 29">
            <path d="M28.148,13.091 L22.197,13.091 C21.750,9.358 18.784,6.393 15.056,5.944 L15.056,3.967 C17.394,4.191 19.563,5.209 21.246,6.891 L22.634,5.500 C20.580,3.447 17.919,2.224 15.056,1.995 L15.056,-0.009 L13.092,-0.009 L13.092,1.996 C7.196,2.471 2.479,7.191 2.003,13.091 L-0.000,13.091 L-0.000,15.054 L2.003,15.054 C2.479,20.953 7.196,25.673 13.092,26.149 L13.092,28.153 L15.056,28.153 L15.056,26.149 C20.952,25.673 25.669,20.953 26.144,15.054 L28.148,15.054 L28.148,13.091 ZM16.093,14.061 C16.297,14.182 16.471,14.336 16.616,14.519 C16.761,14.704 16.873,14.916 16.952,15.156 C17.030,15.395 17.070,15.652 17.070,15.926 C17.070,16.296 16.995,16.627 16.846,16.922 C16.697,17.217 16.483,17.469 16.204,17.675 C15.926,17.883 15.590,18.044 15.198,18.158 C14.806,18.272 14.366,18.330 13.880,18.330 C12.687,18.330 11.753,17.980 11.078,17.281 L12.091,15.938 C12.303,16.158 12.544,16.326 12.814,16.438 C13.085,16.552 13.409,16.610 13.786,16.610 C14.672,16.610 15.116,16.284 15.116,15.632 C15.116,15.279 14.984,15.013 14.722,14.831 C14.458,14.651 14.044,14.561 13.479,14.561 L13.126,14.561 L13.126,13.206 L13.515,13.206 C13.954,13.206 14.298,13.117 14.545,12.935 C14.792,12.755 14.916,12.516 14.916,12.218 C14.916,11.958 14.825,11.763 14.645,11.629 C14.464,11.494 14.225,11.429 13.927,11.429 C13.605,11.429 13.313,11.505 13.050,11.658 C12.787,11.811 12.565,12.029 12.385,12.312 L11.196,10.945 C11.321,10.780 11.486,10.627 11.690,10.487 C11.894,10.344 12.126,10.225 12.385,10.127 C12.644,10.029 12.922,9.952 13.221,9.897 C13.519,9.843 13.825,9.815 14.139,9.815 C14.555,9.815 14.935,9.864 15.280,9.962 C15.625,10.061 15.920,10.201 16.163,10.387 C16.406,10.570 16.595,10.790 16.728,11.046 C16.861,11.300 16.928,11.586 16.928,11.900 C16.928,12.136 16.891,12.359 16.816,12.570 C16.742,12.782 16.638,12.974 16.504,13.148 C16.371,13.320 16.212,13.463 16.028,13.577 C15.843,13.692 15.641,13.767 15.421,13.806 C15.665,13.855 15.888,13.938 16.093,14.061 ZM13.092,3.968 L13.092,5.944 C9.364,6.393 6.398,9.358 5.950,13.091 L3.975,13.091 C4.439,8.274 8.280,4.433 13.092,3.968 ZM3.975,15.054 L5.950,15.054 C6.398,18.785 9.364,21.751 13.092,22.200 L13.092,24.175 C8.280,23.711 4.439,19.869 3.975,15.054 ZM15.056,24.175 L15.056,22.200 C18.784,21.751 21.750,18.785 22.197,15.054 L24.173,15.054 C23.708,19.869 19.868,23.711 15.056,24.175 Z"></path>
        </symbol>
        <symbol id="si-facebook" viewbox="0 0 23 23">
            <path d="M23.002,3.836 C23.002,1.820 21.184,0.000 19.169,0.000 L3.835,0.000 C1.820,0.000 0.001,1.820 0.001,3.836 L0.001,19.178 C0.001,21.191 1.820,23.012 3.835,23.012 L11.502,23.012 L11.502,14.320 L8.690,14.320 L8.690,10.483 L11.502,10.483 L11.502,8.989 C11.502,6.412 13.436,4.091 15.814,4.091 L18.913,4.091 L18.913,7.927 L15.814,7.927 C15.475,7.927 15.080,8.338 15.080,8.955 L15.080,10.483 L18.913,10.483 L18.913,14.320 L15.080,14.320 L15.080,23.012 L19.169,23.012 C21.184,23.012 23.002,21.191 23.002,19.178 L23.002,3.836 Z"></path>
        </symbol>
        <symbol id="si-email" viewbox="0 0 23 17">
            <path d="M20.833,16.245 L11.483,16.245 L2.132,16.245 C1.341,16.245 0.693,15.559 0.693,14.719 L0.693,3.494 C0.693,2.655 1.209,2.382 1.840,2.890 L10.334,9.732 C10.652,9.986 11.068,10.109 11.483,10.103 C11.898,10.109 12.314,9.986 12.632,9.732 L21.125,2.890 C21.756,2.382 22.272,2.655 22.272,3.494 L22.272,14.719 C22.272,15.559 21.624,16.245 20.833,16.245 ZM12.792,7.698 C12.440,7.995 11.954,8.127 11.483,8.101 C11.011,8.127 10.525,7.995 10.173,7.698 L2.400,1.166 C1.779,0.647 1.919,0.221 2.711,0.221 L11.483,0.221 L20.255,0.221 C21.046,0.221 21.186,0.647 20.565,1.166 L12.792,7.698 Z"></path>
        </symbol>
        <symbol id="si-update" viewbox="0 0 21 22">
            <path d="M20.212,15.332 C18.604,19.124 14.835,21.792 10.451,21.792 C7.560,21.792 4.937,20.631 3.024,18.754 L2.306,19.830 C2.125,20.101 1.787,20.221 1.475,20.126 C1.163,20.031 0.950,19.744 0.952,19.418 L0.979,13.699 C0.980,13.449 1.108,13.217 1.318,13.083 C1.528,12.949 1.793,12.929 2.021,13.030 L7.229,15.366 C7.527,15.498 7.702,15.813 7.658,16.137 C7.614,16.459 7.362,16.714 7.039,16.765 L6.092,16.911 C7.300,17.842 8.807,18.404 10.451,18.404 C13.433,18.404 15.991,16.582 17.079,13.999 C17.343,13.372 17.958,12.965 18.639,12.965 C19.212,12.965 19.746,13.253 20.063,13.727 C20.379,14.203 20.435,14.806 20.212,15.332 ZM19.584,9.382 C19.373,9.516 19.109,9.536 18.880,9.434 L13.673,7.098 C13.375,6.966 13.200,6.652 13.244,6.329 C13.288,6.005 13.539,5.749 13.863,5.699 L14.810,5.553 C13.602,4.621 12.095,4.060 10.451,4.060 C7.469,4.060 4.910,5.882 3.822,8.466 C3.559,9.092 2.944,9.499 2.262,9.499 C1.690,9.499 1.155,9.213 0.839,8.737 C0.523,8.260 0.467,7.659 0.690,7.133 C2.298,3.340 6.067,0.672 10.451,0.672 C13.342,0.672 15.964,1.832 17.878,3.710 L18.596,2.635 C18.777,2.363 19.114,2.243 19.427,2.338 C19.739,2.433 19.951,2.721 19.950,3.046 L19.923,8.766 C19.921,9.015 19.794,9.247 19.584,9.382 Z"></path>
        </symbol>
        <symbol id="si-carousel" viewbox="0 0 25 28">
            <path d="M24.162,18.442 C23.073,18.859 21.000,19.260 20.428,16.611 C20.024,14.736 19.524,14.505 19.084,14.745 C19.522,15.280 19.773,15.878 19.773,16.511 C19.773,17.364 19.316,18.154 18.552,18.814 L19.194,23.418 C19.278,24.018 18.864,24.572 18.265,24.656 C17.726,24.733 17.224,24.397 17.070,23.891 L15.568,18.959 C14.660,18.719 13.664,18.570 12.599,18.570 C11.519,18.570 10.510,18.722 9.594,18.970 L8.128,23.891 C7.955,24.472 7.346,24.801 6.769,24.627 C6.245,24.469 5.926,23.947 6.005,23.419 L6.672,18.834 C5.890,18.170 5.425,17.375 5.425,16.511 C5.425,15.545 5.305,14.559 5.078,13.621 L4.703,12.078 L2.050,12.999 C1.888,13.054 1.724,13.082 1.561,13.082 C0.985,13.082 0.439,12.748 0.190,12.193 C-0.289,11.124 0.159,9.991 1.016,9.195 C1.810,8.459 2.834,7.367 3.537,6.706 C3.791,6.469 4.143,6.380 4.476,6.319 L4.476,4.903 C4.476,4.726 4.547,4.558 4.672,4.437 C4.798,4.314 4.968,4.248 5.142,4.257 C6.326,4.299 8.712,4.837 9.175,8.413 C9.175,8.413 9.224,9.810 10.143,10.695 C10.291,10.836 10.363,11.040 10.337,11.243 C10.311,11.450 10.192,11.628 10.013,11.728 L9.621,11.948 C10.289,12.225 11.009,12.379 11.749,12.379 C11.837,12.379 11.925,12.377 12.013,12.373 C12.207,12.364 12.402,12.360 12.600,12.360 C14.266,12.360 15.795,12.691 17.013,13.242 C17.464,12.072 18.716,9.773 21.365,10.659 C23.904,11.512 23.751,14.096 23.027,15.641 C22.450,16.871 23.254,17.683 24.156,17.992 C24.250,18.024 24.313,18.113 24.315,18.216 C24.317,18.316 24.256,18.408 24.162,18.442 ZM11.934,10.623 C11.897,10.625 11.862,10.625 11.825,10.627 L11.825,1.682 C11.825,1.197 12.214,0.806 12.696,0.806 C13.178,0.806 13.567,1.197 13.567,1.682 L13.567,10.643 C13.249,10.621 12.927,10.609 12.600,10.609 C12.375,10.609 12.153,10.614 11.934,10.623 ZM13.566,20.370 L13.566,26.799 C13.566,27.285 13.177,27.674 12.696,27.674 C12.214,27.674 11.824,27.285 11.824,26.799 L11.824,20.361 C12.081,20.341 12.337,20.320 12.599,20.320 C12.927,20.320 13.249,20.341 13.566,20.370 Z"></path>
        </symbol>
        <symbol id="si-lazyload" viewbox="0 0 29 30">
            <path d="M27.496,16.549 L24.831,16.549 C24.095,16.549 23.498,15.963 23.498,15.241 C23.498,14.518 24.095,13.931 24.831,13.931 L27.496,13.931 C28.232,13.931 28.829,14.518 28.829,15.241 C28.829,15.963 28.232,16.549 27.496,16.549 ZM25.868,25.424 C25.608,25.680 25.267,25.808 24.926,25.808 C24.585,25.808 24.244,25.680 23.984,25.424 L20.214,21.721 C19.694,21.210 19.694,20.380 20.214,19.869 C20.735,19.359 21.579,19.359 22.099,19.869 L25.868,23.573 C26.388,24.084 26.388,24.912 25.868,25.424 ZM15.503,29.641 C14.767,29.641 14.171,29.055 14.171,28.333 L14.171,23.095 C14.171,22.372 14.767,21.788 15.503,21.788 C16.239,21.788 16.836,22.372 16.836,23.095 L16.836,28.333 C16.836,29.055 16.239,29.641 15.503,29.641 ZM15.503,8.695 C14.767,8.695 14.171,8.109 14.171,7.385 L14.171,2.149 C14.171,1.426 14.767,0.840 15.503,0.840 C16.239,0.840 16.836,1.426 16.836,2.149 L16.836,7.385 C16.836,8.109 16.239,8.695 15.503,8.695 ZM7.023,25.424 C6.763,25.680 6.422,25.808 6.080,25.808 C5.740,25.808 5.398,25.680 5.138,25.424 C4.618,24.912 4.618,24.084 5.138,23.573 L8.907,19.869 C9.428,19.358 10.271,19.358 10.792,19.869 C11.312,20.380 11.312,21.210 10.792,21.721 L7.023,25.424 ZM9.849,10.996 C9.509,10.996 9.167,10.867 8.907,10.613 L5.138,6.908 C4.618,6.397 4.618,5.568 5.138,5.056 C5.659,4.546 6.503,4.546 7.023,5.056 L10.792,8.761 C11.312,9.272 11.312,10.101 10.792,10.613 C10.532,10.867 10.190,10.996 9.849,10.996 ZM8.840,15.241 C8.840,15.963 8.244,16.549 7.508,16.549 L2.177,16.549 C1.441,16.549 0.845,15.963 0.845,15.241 C0.845,14.518 1.441,13.931 2.177,13.931 L7.508,13.931 C8.244,13.931 8.840,14.518 8.840,15.241 Z"></path>
        </symbol>
        <symbol id="si-multilang" viewbox="0 0 25 25">
            <path d="M15.501,23.906 L15.721,23.112 L17.781,21.735 L18.322,20.262 L19.746,19.600 L21.095,17.022 L19.008,15.794 L17.929,14.566 L17.290,14.493 L16.015,14.147 L14.915,13.975 L13.952,14.244 L13.363,13.584 L12.773,13.412 L12.823,12.528 L12.110,12.551 L11.705,13.018 L11.473,12.036 L12.405,11.593 L13.363,12.036 L13.877,12.036 L14.064,11.274 L15.498,9.555 L17.488,8.548 L18.640,8.695 L18.746,8.132 L17.317,6.683 L16.776,5.603 L15.990,5.603 L15.498,5.315 L14.443,5.159 L14.222,6.413 L12.944,6.168 L12.847,5.383 L13.829,5.160 L14.152,3.752 L15.125,4.153 L15.101,4.752 L15.843,5.061 L16.338,5.207 L16.947,4.889 L16.406,4.252 L15.300,3.172 L15.326,2.654 L16.455,2.876 L17.412,3.735 L17.707,4.496 L17.929,5.210 L19.452,6.583 L19.843,6.708 L20.383,5.844 L22.297,5.675 L22.656,5.561 C23.940,7.469 24.688,9.770 24.688,12.242 C24.688,17.904 20.768,22.637 15.501,23.906 ZM16.185,1.273 L15.352,1.830 L14.762,2.483 L12.618,2.683 L11.735,2.538 L11.129,3.490 L9.362,3.588 L8.256,3.269 L7.273,3.807 L5.140,4.105 L3.431,4.599 L3.425,4.599 C5.624,1.931 8.956,0.233 12.683,0.233 C14.513,0.233 16.241,0.655 17.795,1.387 L17.364,1.452 L16.185,1.273 ZM10.808,1.525 L10.100,1.750 L9.559,1.525 C9.541,1.668 8.772,2.164 8.772,2.164 L9.559,2.624 L11.195,2.194 L10.808,1.525 ZM14.417,0.752 L13.190,1.427 L12.486,1.866 L12.976,2.184 L14.064,2.074 L15.204,1.207 L14.417,0.752 ZM3.004,7.124 L4.352,7.124 L6.355,6.765 L7.617,8.817 L7.617,10.734 L9.338,13.069 L9.630,13.069 L9.630,12.245 L10.292,13.632 L12.289,14.079 L13.190,14.984 L13.993,15.226 L13.190,16.899 L14.065,18.521 C14.065,18.521 14.615,20.387 14.616,20.461 C14.616,20.534 14.065,22.695 14.065,22.695 L14.191,24.149 C13.695,24.209 13.194,24.255 12.683,24.255 C6.053,24.255 0.679,18.876 0.679,12.245 C0.679,10.034 1.285,7.970 2.327,6.192 L3.191,5.991 L2.325,6.679 L3.004,7.124 Z"></path>
        </symbol>
        <symbol id="si-rtl" viewbox="0 0 23 24">
            <path d="M6.133,0.649 C3.041,0.649 0.535,3.156 0.535,6.249 C0.535,9.341 3.041,11.849 6.133,11.849 L6.133,23.050 L8.932,23.050 L8.932,3.447 L11.730,3.447 L11.730,23.050 L14.529,23.050 L14.529,3.447 L17.328,3.447 L17.328,0.649 L6.133,0.649 ZM22.926,4.849 L17.328,10.449 L22.926,16.049 L22.926,4.849 Z"></path>
        </symbol>
        <symbol id="si-arrow-right" viewbox="0 0 25 16">
            <path d="M24.795,8.495 L17.659,15.728 C17.392,15.999 16.951,15.999 16.679,15.734 C16.540,15.598 16.473,15.416 16.473,15.238 C16.473,15.062 16.545,14.879 16.679,14.745 L22.346,9.000 L1.000,9.000 L1.000,8.709 L0.693,8.709 C0.308,8.709 -0.000,8.396 -0.000,8.006 C-0.000,7.616 0.308,7.303 0.693,7.303 L1.000,7.303 L1.000,7.000 L22.334,7.000 L16.679,1.267 C16.406,0.991 16.406,0.549 16.679,0.273 C16.951,-0.001 17.387,-0.001 17.659,0.273 L24.795,7.507 C24.928,7.637 25.000,7.812 25.000,8.001 C25.000,8.184 24.923,8.366 24.795,8.495 Z"></path>
        </symbol>
        <symbol id="si-arrow-left" viewbox="0 0 25 16">
            <path d="M24.112,8.709 L24.000,8.709 L24.000,9.000 L2.632,9.000 L8.255,14.744 C8.387,14.879 8.458,15.061 8.458,15.238 C8.458,15.415 8.392,15.597 8.255,15.733 C7.985,15.998 7.547,15.998 7.282,15.727 L0.203,8.494 C0.076,8.365 -0.000,8.184 -0.000,8.001 C-0.000,7.812 0.071,7.636 0.203,7.506 L7.282,0.273 C7.552,-0.001 7.985,-0.001 8.255,0.273 C8.524,0.549 8.524,0.991 8.255,1.267 L2.644,7.000 L24.000,7.000 L24.000,7.303 L24.112,7.303 C24.494,7.303 24.800,7.616 24.800,8.006 C24.800,8.395 24.494,8.709 24.112,8.709 Z"></path>
        </symbol>
        <symbol id="si-menu" viewbox="0 0 459 459">
            <path d="M0,382.5h459v-51H0V382.5z M0,255h459v-51H0V255z M0,76.5v51h459v-51H0z"></path>
        </symbol>
    </defs>
</svg>
<header>
    <div class="top-header flex-container align-items-center">
        <ul>
            <li><a href="https://alysum5.promokit.eu/promokit/documentation/" target="_blank" rel="noopener">Docs </a></li>
            <li><a href="video.html" target="_blank" rel="noopener">Tutorials </a></li>
        </ul>
        <div class="logo flex-container justify-content-center align-items-center">
            <p alt="Türkiye-İstanbul" style="font-size:xx-large; font-family:'Comic Sans MS'"><strong>ÇANAKKALE</strong></p>
            @*<img src="/assets2/images/logo_light.png" width="195" height="32" alt="Alysum - Premium Prestashop AMP Theme" title="Alysum - Premium Prestashop AMP Theme" />*@
        </div>
        <ul class="flex-container justify-content-right">
            <li><a href="https://support.promokit.eu/index.php?project=3" target="_blank" rel="noopener">Support </a></li>
            <li><a href="https://themeforest.net/item/alysum-premium-responsive-prestashop-16-theme/2622574" target="_blank" rel="noopener">Purchase </a></li>
        </ul>
    </div>
    <div class="bottom-header">
        <div class="mobile-hidden menuicon-wrap flex-container justify-content-center"><svg class="menuicon"><use xlink:href="#si-menu"></use></svg></div>
        <ul class="m0 flex-container justify-content-center main-menu">
            <li><a href="#" data-href="#demos">Demo </a></li>
            <li><a href="#" data-href="#amp">Google AMP </a></li>
            <li><a href="#" data-href="#modules">Modules </a></li>
            <li><a href="#" data-href="#pagebuilder">Layout Builder </a></li>
            <li><a href="#" data-href="#features">Features </a></li>
            <li><a href="#" data-href="#showcase">Showcase </a></li>
            <li><a href="#" data-href="#pages">Inner Pages </a></li>
            <li class="mobile-hidden">
                <a href="https://alysum5.promokit.eu/promokit/documentation/" target="_blank" rel="noopener">Docs </a>
            </li>
            <li class="mobile-hidden">
                <a href="video.html" target="_blank" rel="noopener">Tutorials </a>
            </li>
            <li class="mobile-hidden">
                <a href="https://support.promokit.eu/index.php?project=3" target="_blank" rel="noopener">Support </a>
            </li>
            <li class="mobile-hidden">
                <a href="https://themeforest.net/item/alysum-premium-responsive-prestashop-16-theme/2622574" target="_blank" rel="noopener">Purchase </a>
            </li>
        </ul>
    </div>
</header>
<main>
    <section id="main" class="main-section white">
        <div class="text-center w100 relative main-section-desc b-lazy header-bg oh" data-src="/assets2/images/main-section_bg.jpg">
            <img class="b-lazy w100 hauto" src="/assets2/images/pixel.gif" data-src="/assets2/images/main_bg.jpg" width="1920" height="941" alt="main bg" />
            <div class="main-text-block relative flex-container w100 flex-column align-items-center">
                <h1 class="roboto">alysum -  <strong>the very first  <span class="hidden">AMP </span></strong><br />prestashop theme on themeforest </h1>
                <div class="main-buttons">
                    <a class="button active-btn ps17" href="#demo-list">Prestashop 1.7 </a>
                    <a class="button ps16" href="#demo-list">Prestashop 1.6 </a>
                </div>
            </div>
            <div class="main-slide-footer">
                <div class="section-heading style2">
                    <br /> <br /> <br />
                </div>
                <div class="theme-info flex-container flex-center">
                    <div class="info-item flex-container flex-column align-items-left">
                        <svg class="svgic"><use xlink:href="#si-reload"></use></svg>
                        <h6>81+ </h6>
                        <i>Gidelecek Yer </i>
                    </div>
                    <div class="info-item flex-container flex-column align-items-left">
                        <svg class="svgic"><use xlink:href="#si-ticket"></use></svg>
                        <h6>9+ </h6>
                        <i>Şehir </i>
                    </div>
                    <div class="info-item flex-container flex-column align-items-left">
                        <svg class="svgic"><use xlink:href="#si-puzzle"></use></svg>
                        <h6>90+ </h6>
                        <i>Resim </i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="demos" class="black delay500">
        <h2 class="hidden">Demos </h2>
        <div class="section-content w100">
            <div class="section-heading style1">
                <h3>theme variations </h3>
                <h6 data-version="16" class="hidden">Prestashop 1.6 </h6>
                <h6 data-version="17">Prestashop 1.7 </h6>
            </div>
            <div class="section-body flex-container" style="flex-direction: column">
                <div class="warning demos previews hidden" data-version="16" style="color:#fff;font:normal 15px Arial;text-align:center;line-height: 20px;padding:20px;max-width:80%;margin:0 auto 40px;border:3px solid #f87a34">
                    <span style="font-weight:bold;margin:0 auto">Prestashop 1.6 will no ______ supported and updated by __________ Team after October 2018. </span><br />PrestaShop 1.6 branch has _______ maintenance mode since the _______ of PrestaShop 1.7, in ________ 2016. This means that __ new features will be _____, nor any behavior change. ____ bugfixes will happen. <br /> Read details: http://build.prestashop.com/howtos/misc/2018-release-schedule.
                </div>
                <div class="demos previews w100 hidden" data-version="16">
                    <div class="demo-1" data-aos="fade-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                        <a href="http://alysum.promokit.eu/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/skin-01.jpg"></a>
                        <h6>"Alysum" </h6>
                        <span class="item-desc">BOXED STYLE + MOST _______ MODULES </span>
                    </div>
                    <div class="demo-2" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100" data-aos-duration="500">
                        <a href="http://alysum.promokit.eu/sequence/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/skin-02.jpg"></a>
                        <h6>"Sequence" </h6>
                        <span class="item-desc">SEQUENCE SLIDER, PRODUCT CAROUSEL ____ TABS </span>
                    </div>
                    <div class="demo-3" data-aos="fade-up" data-aos-offset="0" data-aos-delay="150" data-aos-duration="500">
                        <a href="http://alysum.promokit.eu/fullpage/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/skin-03.jpg"></a>
                        <h6>"Full Page" </h6>
                        <span class="item-desc">CLEAN STYLE WITH FULL ____ SLIDER </span>
                    </div>
                    <div class="demo-4" data-aos="fade-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                        <a href="http://alysum.promokit.eu/complex/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/skin-04.jpg"></a>
                        <h6>"Complex" </h6>
                        <span class="item-desc">WIDESCREEN STYLE WITH MOST _________ MODULES </span>
                    </div>
                    <div class="demo-5" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100" data-aos-duration="500">
                        <a href="http://alysum.promokit.eu/column/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/skin-05.jpg"></a>
                        <h6>"Column" </h6>
                        <span class="item-desc">BOXED TYPE WITH COLUMN </span>
                    </div>
                    <div class="demo-6" data-aos="fade-up" data-aos-offset="0" data-aos-delay="150" data-aos-duration="500">
                        <a href="http://alysum.promokit.eu/awkward/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/skin-06.jpg"></a>
                        <h6>"Awkward" </h6>
                        <span class="item-desc">SLIDER WITH POINTS OF _________ </span>
                    </div>
                    <div class="demo-7" data-aos="fade-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                        <a href="http://alysum.promokit.eu/classic/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/skin-07.jpg"></a>
                        <h6>"Classic" </h6>
                        <span class="item-desc">CLASSIC VIEW + BLOG </span>
                    </div>
                    <div class="demo-8" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100" data-aos-duration="500">
                        <a href="http://alysum.promokit.eu/comingsoon" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/skin-08.jpg"></a>
                        <h6>"Coming Soon" </h6>
                        <span class="item-desc">SAMPLE OF COMING SOON ____ </span>
                    </div>
                </div>
                <div class="demos previews w100" data-version="17">
                    <div class="demo-3" data-aos="fade-up" data-aos-offset="0" data-aos-delay="150" data-aos-duration="500">
                        <a href="https://alysum5.promokit.eu/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/5-skin-03.jpg"></a>
                        <h6>"Alysum" </h6>
                        <span class="item-desc">CLEAN STYLE </span>
                    </div>
                    <div class="demo-2" data-aos="fade-up" data-aos-offset="0" data-aos-delay="150" data-aos-duration="500">
                        <a href="https://alysum5.promokit.eu/classic/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/5-skin-02.jpg"></a>
                        <h6>"Classic" </h6>
                        <span class="item-desc">CLASSIC SHOP STYLE </span>
                    </div>
                    <div class="demo-4" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100" data-aos-duration="500">
                        <a href="https://alysum5.promokit.eu/complex/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/5-skin-04.jpg"></a>
                        <h6>"Complex" </h6>
                        <span class="item-desc">COMPLEX LAYOUT STRUCTURE </span>
                    </div>
                    <div class="demo-7 new" data-aos="fade-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                        <a href="https://alysum5.promokit.eu/dailydeal/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/5-skin-07.jpg"></a>
                        <h6>"DailyDeal" </h6>
                        <span class="item-desc">SIMPLE PAGE WITH DAILYDEAL ______ </span>
                    </div>
                    <div class="demo-5" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100" data-aos-duration="500">
                        <a href="https://alysum5.promokit.eu/electronics/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/5-skin-05.jpg"></a>
                        <h6>"Electronics" </h6>
                        <span class="item-desc">Designed for Electronics </span>
                    </div>
                    <div class="demo-6" data-aos="fade-up" data-aos-offset="0" data-aos-delay="150" data-aos-duration="500">
                        <a href="https://alysum5.promokit.eu/fullpage/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/5-skin-06.jpg"></a>
                        <h6>"Full Page" </h6>
                        <span class="item-desc">CLEAN STYLE WITH FULL ____ SLIDER </span>
                    </div>
                    <div class="demo-8 new" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100" data-aos-duration="500">
                        <a href="https://alysum5.promokit.eu/lingerie/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/5-skin-08.jpg"></a>
                        <h6>"Lingerie" </h6>
                        <span class="item-desc">Designed to sell Lingerie </span>
                    </div>
                    <div class="demo-1" data-aos="fade-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                        <a href="https://alysum5.promokit.eu/oldstyle/en/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/5-skin-01.jpg"></a>
                        <h6>"Oldstyle" </h6>
                        <span class="item-desc">NATIVE ALYSUM STYLE </span>
                    </div>
                    <div class="demo-9" data-aos="fade-up" data-aos-offset="0" data-aos-delay="150" data-aos-duration="500">
                        <a href="https://alysum5.promokit.eu/maintenance/" target="_blank" rel="noopener" class="demo-item-wrapper b-lazy" data-src="/assets2/images/5-skin-maintenance.jpg"></a>
                        <h6>"Coming Soon" </h6>
                        <span class="item-desc">SAMPLE OF COMING SOON ____ </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="amp" class="black cover relative b-lazy" data-src="/assets2/images/amp-bg.jpg" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100" data-aos-duration="500">
        <h2 class="hidden">Google AMP </h2>
        <div class="section-content w100">
            <div class="section-heading style1">
                <img src="/assets2/images/pixel.gif" data-src="/assets2/images/amp-logo.png" class="alysum amp logo b-lazy" width="65" height="65" alt="Google AMP Logo" />
                <h3>Google AMP </h3>
                <h6>Improve user engagement with ____, <br />compelling experiences </h6>
            </div>
            <div class="section-body flex-container justify-content-center relative">
                <img class="phone b-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/amp-phone.png" alt="alysum amp demo link" width="1048" height="777" data-aos="fade-right" data-aos-offset="0" data-aos-delay="700" data-aos-duration="500" />
                <div class="qr cover b-lazy" data-src="/assets2/images/qr-code.gif" alt="alysum amp demo link" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="900" data-aos-duration="500"></div>
                <div class="performance">
                    <div class="flex-container">
                        <div class="p-item flex-container flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-offset="0" data-aos-delay="550" data-aos-duration="500">
                            <img src="/assets2/images/pixel.gif" class="b-lazy" data-src="/assets2/images/ampimg1.png" alt="alsum amp performance" width="166" height="166" />
                            <span class="opensans">Performance </span>
                        </div>
                        <div class="p-item flex-container flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-offset="0" data-aos-delay="600" data-aos-duration="500">
                            <img src="/assets2/images/pixel.gif" class="b-lazy" data-src="/assets2/images/ampimg2.png" alt="alsum amp performance" width="166" height="166" />
                            <span class="opensans">Accessibility </span>
                        </div>
                    </div>
                    <div class="flex-container">
                        <div class="p-item flex-container flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-offset="0" data-aos-delay="650" data-aos-duration="500">
                            <img src="/assets2/images/pixel.gif" class="b-lazy" data-src="/assets2/images/ampimg3.png" alt="alsum amp performance" width="166" height="166" />
                            <span class="opensans">Best Practices </span>
                        </div>
                        <div class="p-item flex-container flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-offset="0" data-aos-delay="700" data-aos-duration="500">
                            <img src="/assets2/images/pixel.gif" class="b-lazy" data-src="/assets2/images/ampimg4.png" alt="alsum amp performance" width="166" height="166" />
                            <span class="opensans">SEO </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="amp-notice"><a rel="noopener" href="https://googlechrome.github.io/lighthouse/viewer/?gist=06c8af4ca4a9afcc6829837430fed6e8">* Lighthouse Report </a></div>
    </section>
    <section id="modules" class="white">
        <h2 class="hidden">Major Modules </h2>
        <div class="section-content w100">
            <div class="section-heading style1">
                <h3>Major Modules </h3>
                <h6>Alysum theme </h6>
            </div>
            <div class="section-body flex-container">
                <div class="mainfeature-item" data-aos="flip-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                    <div class="feature-preview">
                        <div class="feature-img b-lazy" data-src="/assets2/images/feature-blog.jpg"></div>
                    </div>
                    <div class="feature-title text-center uppercase">
                        Blog Module
                    </div>
                </div>
                <div class="mainfeature-item" data-aos="flip-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                    <div class="feature-preview">
                        <div class="feature-img b-lazy" data-src="/assets2/images/feature-lookbook.jpg"></div>
                    </div>
                    <div class="feature-title text-center uppercase">
                        Lookbook
                    </div>
                </div>
                <div class="mainfeature-item" data-aos="flip-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                    <div class="feature-preview">
                        <div class="feature-img b-lazy" data-src="/assets2/images/feature-reviews.jpg"></div>
                    </div>
                    <div class="feature-title text-center uppercase">
                        Product Reviews
                    </div>
                </div>
                <div class="mainfeature-item" data-aos="flip-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                    <div class="feature-preview">
                        <div class="feature-img b-lazy" data-src="/assets2/images/feature-sizeguide.jpg"></div>
                    </div>
                    <div class="feature-title text-center uppercase">
                        Size Guide
                    </div>
                </div>
                <div class="mainfeature-item" data-aos="flip-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                    <div class="feature-preview">
                        <div class="feature-img b-lazy" data-src="/assets2/images/feature-compare.jpg"></div>
                    </div>
                    <div class="feature-title text-center uppercase">
                        Product Comparison
                    </div>
                </div>
                <div class="mainfeature-item" data-aos="flip-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                    <div class="feature-preview">
                        <div class="feature-img b-lazy" data-src="/assets2/images/feature-revolution.jpg"></div>
                    </div>
                    <div class="feature-title text-center uppercase">
                        Revolution Slider
                    </div>
                </div>
                <div class="mainfeature-item" data-aos="flip-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                    <div class="feature-preview">
                        <div class="feature-img b-lazy" data-src="/assets2/images/feature-customizer.jpg"></div>
                    </div>
                    <div class="feature-title text-center uppercase">
                        Theme Customizer
                    </div>
                </div>
                <div class="mainfeature-item" data-aos="flip-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                    <div class="feature-preview">
                        <div class="feature-img b-lazy" data-src="/assets2/images/feature-wishlist.jpg"></div>
                    </div>
                    <div class="feature-title text-center uppercase">
                        Wishlist & Favorites
                    </div>
                </div>
                <div class="mainfeature-item" data-aos="flip-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                    <div class="feature-preview">
                        <div class="feature-img b-lazy" data-src="/assets2/images/feature-instagram.jpg"></div>
                    </div>
                    <div class="feature-title text-center uppercase">
                        Instagram
                    </div>
                </div>
                <div class="mainfeature-item" data-aos="flip-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                    <div class="feature-preview">
                        <div class="feature-img b-lazy" data-src="/assets2/images/feature-menu.jpg"></div>
                    </div>
                    <div class="feature-title text-center uppercase">
                        Flex Menu
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pagebuilder" class="black cover relative oh">
        <div class="pb-bg b-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/pagebuilder-bg.jpg" data-aos="fade-up" data-aos-offset="0" data-aos-delay="0" data-aos-duration="0"></div>
        <h2 class="hidden">Page builder </h2>
        <div class="section-content w100 relative">
            <div class="section-heading style1">
                <h3>page builder </h3>
                <h6>Build website elements with ____&____ builder tool </h6>
            </div>
            <div class="section-body flex-container justify-content-center">
                <div class="pb01 pbimg b-lazy" data-src="/assets2/images/pb-01.png" data-aos="fade-right" data-aos-offset="0" data-aos-delay="800" data-aos-duration="500"></div><div class="pb02 pbimg b-lazy" data-src="/assets2/images/pb-02.png" data-aos="fade-up" data-aos-offset="0" data-aos-delay="800" data-aos-duration="500"></div><div class="pb03 pbimg b-lazy" data-src="/assets2/images/pb-03.png" data-aos="fade-left" data-aos-offset="0" data-aos-delay="800" data-aos-duration="500"></div>
            </div>
        </div>
    </section>
    <section id="features" class="white b-lazy" data-src="/assets2/images/features-bg.jpg">
        <div class="b-lazy" data-src="/assets2/images/features-bg-bottom.jpg">
            <h2 class="hidden">features list </h2>
            <div class="section-content w100">
                <div class="section-heading style2">
                    <h3>Major Features </h3>
                    <h6>Why you'll love Alysum </h6>
                </div>
                <div class="section-body flex-container">
                    <div class="featured-list-container">
                        <div class="featured-list">
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-fully-responsive"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Fully Responsive </h5>
                                        <span>Alysum is mobile friendly ___ any resolution and any _______. Theme looks fine on ___ screens. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-one-click-install"></use></svg>
                                    <div class="feature-desc">
                                        <h5>One Click Installation </h5>
                                        <span>Alysum theme can be _________ and switch to any ____ easily by one click. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-tabs"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Product tabs </h5>
                                        <span>Show any additional content __ the product page tabs. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-customizable"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Highly Customizable </h5>
                                        <span>You can select between ____ layout, masonry, alternatively layout, ___ grid. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="featured-list">
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-multicolumn"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Multicolumn product grid </h5>
                                        <span>Choose the number of _______ per row for different _____ of products.  </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-top-level-support"></use></svg>
                                    <div class="feature-desc">
                                        <h5>top level Support </h5>
                                        <span>We always provide fast ___ high quality support for ___ of our customers. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-powerfull-admin"></use></svg>
                                    <div class="feature-desc">
                                        <h5>powerful admin options </h5>
                                        <span>There are over 200 _______ for different pages, what ______ to customize theme as ___ like. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-time"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Coming soon Page </h5>
                                        <span>Built-in maintenance page with _________ opportunity. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="featured-list">
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-psd"></use></svg>
                                    <div class="feature-desc">
                                        <h5>20 PSD files included </h5>
                                        <span>Use PSD to update ____ website graphic details </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-search"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Ajax search </h5>
                                        <span>Add a live search ____ to your site with _______. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-seo"></use></svg>
                                    <div class="feature-desc">
                                        <h5>SEO Friendly </h5>
                                        <span>We’ve follow all important ___ rules while developing this _____. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-header"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Header Builder </h5>
                                        <span>Build any header layout ___ need with our "Header _______" tool. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="featured-list">
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-unlimited-colors"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Unlimited color options </h5>
                                        <span>Can be changed any ______ of almost any elements _____ you need it.  </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic bigger"><use xlink:href="#si-qview"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Quick View </h5>
                                        <span>Enhance the user experience ________ them to access more ________ information. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-popup"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Pop-up Window </h5>
                                        <span>Help you get more __________ subscribers, promote new products ___ etc... </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-daylideal"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Daily Deals </h5>
                                        <span>Create day to day _____ slideshow for single or ________ products. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="featured-list">
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic bigger"><use xlink:href="#si-countdown"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Countdown </h5>
                                        <span>Use it to highlight _______ offers or deals. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-facebook"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Facebook Comments </h5>
                                        <span>Allow your visitor to _______ on your goods with ________. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-email"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Email Templates </h5>
                                        <span>Designed to effectively communicate ____ your audience & share ____ message. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-update"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Lifetime Updates </h5>
                                        <span>Theme license provides you ______ to all future updates ___ free. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="featured-list">
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-carousel"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Brands Carousel </h5>
                                        <span>Show brands carousel to ________ navigation to your customers. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic bigger"><use xlink:href="#si-lazyload"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Lazy Load </h5>
                                        <span>Improve page load speed ____ built-in Lazy Load feature. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-multilang"></use></svg>
                                    <div class="feature-desc">
                                        <h5>Multilingual </h5>
                                        <span>Alysum theme is ready __ be translated to any ________ you need. </span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-column">
                                <div class="feature-item" data-aos="zoom-out" data-aos-offset="0" data-aos-delay="50" data-aos-duration="500">
                                    <svg class="svgic"><use xlink:href="#si-rtl"></use></svg>
                                    <div class="feature-desc">
                                        <h5>RTL Ready </h5>
                                        <span>The theme is RTL _____ so you can use __ from right to left _________. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="showcase" class="black relative">
        <div class="section-bg w100"></div>
        <h2 class="hidden">showcase </h2>
        <div class="section-content w100">
            <div class="section-body relative">
                <div class="showcase-bg flex-container justify-content-center">
                    <div id="showcase-bg" class="showcase-bg-img b-lazy" data-src="/assets2/images/showcase-bg.jpg"></div>
                </div>
                <div class="showcase-carousel-wrap">
                    <div class="section-heading style2">
                        <h3>Webstores </h3>
                        <h6>Real Customers </h6>
                    </div>
                    <div class="showcase-carousel owl-carousel owl-theme relative">
                        <a href="https://moezoe.shop/" target="_blank" rel="noopener" class="db" title="Alysum AMP Showcase #1">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/showcase-01.jpg" width="480" height="720" alt="Alysum AMP Showcase #1" title="Alysum AMP Showcase #1" />
                        </a>
                        <a href="https://mpbypaula.pl/" target="_blank" rel="noopener" class="db" title="Alysum AMP Showcase #2">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/showcase-02.jpg" width="480" height="720" alt="Alysum AMP Showcase #2" title="Alysum AMP Showcase #2" />
                        </a>
                        <a href="https://www.perfectcake.com.pl" target="_blank" rel="noopener" class="db" title="Alysum AMP Showcase #3">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/showcase-03.jpg" width="480" height="720" alt="Alysum AMP Showcase #3" title="Alysum AMP Showcase #3" />
                        </a>
                        <a href="https://www.withmarlow.com" target="_blank" rel="noopener" class="db" title="Alysum AMP Showcase #4">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/showcase-04.jpg" width="480" height="720" alt="Alysum AMP Showcase #4" title="Alysum AMP Showcase #4" />
                        </a>
                        <a href="https://www.biolissime.fr" class="db" title="Alysum AMP Showcase #5">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/showcase-05.jpg" width="480" height="720" alt="Alysum AMP Showcase #5" title="Alysum AMP Showcase #5" />
                        </a>
                        <a href="https://doubleubag.pl" target="_blank" rel="noopener" class="db" title="Alysum AMP Showcase #6">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/showcase-06.jpg" width="480" height="720" alt="Alysum AMP Showcase #6" title="Alysum AMP Showcase #6" />
                        </a>
                        <a href="https://bobu.cz" target="_blank" rel="noopener" class="db" title="Alysum AMP Showcase #7">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/showcase-07.jpg" width="480" height="720" alt="Alysum AMP Showcase #7" title="Alysum AMP Showcase #7" />
                        </a>
                        <a href="https://vexo.it" target="_blank" rel="noopener" class="db" title="Alysum AMP Showcase #8">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/showcase-08.jpg" width="480" height="720" alt="Alysum AMP Showcase #8" title="Alysum AMP Showcase #8" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="all-showcases flex-container justify-content-center">
                <a class="button" href="https://promokit.eu/showcase/" title="Alsyum AMP Prestashop theme Showcases">All Showcases </a>
            </div>
        </div>
    </section>
    <section id="pages" class="white cover relative b-lazy" data-src="/assets2/images/pages-bg.jpg" data-aos="fade" data-aos-offset="0" data-aos-delay="300" data-aos-duration="500">
        <h2 class="hidden">Inner Pages </h2>
        <div class="section-content w100">
            <div class="section-heading style1">
                <h3>Inner Pages </h3>
                <h6>Alysum theme </h6>
            </div>
            <div class="section-body flex-container justify-content-center">
                <div class="pages-carousel owl-theme owl-carousel">
                    <div class="text-center">
                        <a href="https://alysum5.promokit.eu/en/dresses/12-94-printed-chiffon-dress.html#/24-color-pink" target="_blank" rel="noopener" class="db" title="Alysum AMP Product Page">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/page-product.jpg" width="586" height="560" alt="Alysum AMP Product Page" title="Alysum AMP Product Page" />
                        </a>
                        <h6>Product Page </h6>
                    </div>
                    <div class="text-center">
                        <a href="https://alysum5.promokit.eu/en/61-tops" target="_blank" rel="noopener" class="db" title="Alysum AMP Category Page">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/page-category.jpg" width="586" height="560" alt="Alysum AMP Category Page" title="Alysum AMP Category Page" />
                        </a>
                        <h6>Category Page </h6>
                    </div>
                    <div class="text-center">
                        <a href="https://alysum5.promokit.eu/classic/en/module/pk_lookbook/lookbook" target="_blank" rel="noopener" class="db" title="Alysum AMP Lookbook Page">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/page-lookbook.jpg" width="586" height="560" alt="Alysum AMP Lookbook Page" title="Alysum AMP Lookbook Page" />
                        </a>
                        <h6>Lookbook Page </h6>
                    </div>
                    <div class="text-center">
                        <a href="https://alysum5.promokit.eu/en/blog" target="_blank" rel="noopener" class="db" title="Alysum AMP Blog Page">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/page-blog.jpg" width="586" height="560" alt="Alysum AMP Blog Page" title="Alysum AMP Blog Page" />
                        </a>
                        <h6>Blog Page </h6>
                    </div>
                    <div class="text-center">
                        <a href="https://alysum5.promokit.eu/maintenance/" target="_blank" rel="noopener" class="db" title="Alysum AMP Maintenance Page">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/page-maintenance.jpg" width="586" height="560" alt="Alysum AMP Maintenance Page" title="Alysum AMP Maintenance Page" />
                        </a>
                        <h6>Maintenance Page </h6>
                    </div>
                    <div class="text-center">
                        <a href="https://alysum5.promokit.eu/en/contact-us" target="_blank" rel="noopener" class="db" title="Alysum AMP Contect Page">
                            <img class="owl-lazy" src="/assets2/images/pixel.gif" data-src="/assets2/images/page-contact.jpg" width="586" height="560" alt="Alysum AMP Contect Page" title="Alysum AMP Contact Page" />
                        </a>
                        <h6>Contact Page </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="black footer">
    <div class="section-content w100">
        <div class="text-center stars">
            <svg class="svgic" shape-rendering="optimizeQuality"><use xlink:href="#si-star"></use></svg>
            <svg class="svgic" shape-rendering="optimizeQuality"><use xlink:href="#si-star"></use></svg>
            <svg class="svgic" shape-rendering="optimizeQuality"><use xlink:href="#si-star"></use></svg>
            <svg class="svgic" shape-rendering="optimizeQuality"><use xlink:href="#si-star"></use></svg>
            <svg class="svgic" shape-rendering="optimizeQuality"><use xlink:href="#si-star"></use></svg>
        </div>
        <div class="section-heading style1">
            <h3>please rate us! </h3>
            <h6>If you like our _____ and support, don’t <br /> forget to rate __. </h6>
        </div>
    </div>
</footer>
<script src="/assets2/js/jquery.js"></script>

